---
interface Props {
  class?: string
}

const { class: className = ""  } = Astro.props as Props;

import Card from "../../components/ui/Card.astro";

const cardsData = [
  {
    h2Text: "Services",
    description:
      "GIBS can service your company’s battery needs on an emergency, service call, or  regular planned maintenance.  Let us show you how to save money AND be environmentally friendly!",
    srcImage: "/services.webp",
  },
  {
    h2Text: "Chargers",
    description:
      "GIBS is an authorized PBM Industrial Chargers dealer. PBM has been manufacturing industrial chargers for almost 50 years! We only sell quality products. CA efficiency, and UL listed products!",
    srcImage: "/about.webp",
  },
  {
    h2Text: "About Us",
    description:
      "Learn why the team at Green Industrial Battery Service is ahead of the competition!  Innovative and competitive, we earn our business through trust and respect, and we value our customers. ahora con este hazme lo anterior",
    srcImage: "/about.webp",
  },
];
---
<section class:list={["container", "mx-auto", className]}>
  <div class:list={["text-center", "max-w-7xl", "mx-auto", "mb-16"]}>
    <h3 class:list={["text-6xl", "font-bold", "text-green-900", "mb-8"]}>
      Leading experts in industrial battery systems
    </h3>
    <p class:list={["text-lg", "text-gray-700", "max-w-4xl", "font-serif", "mx-auto"]}>
      Green Industrial Battery Service combines experience, cutting-edge technology, and personalized support to keep your operations running smoothly and efficiently.
    </p>
  </div>

  <div class:list={["flex", "justify-center", "items-start", "gap-28", "flex-wrap"]}>
    {
      cardsData.map((card) => (
        <Card
          h2Text={card.h2Text}
          description={card.description}
          srcImage={card.srcImage}
        />
      ))
    }
  </div>
</section>

