---
import Carrusel from "../ui/Carrusel.astro";
---

<section>
    <Carrusel
      h2Title="Extend Battery Life. Reduce Replacement Costs."
      srcImage="/repararBateria.webp"
      description="We inspect, test and restore your battery to extend its life and reduce unnecessary replacement costs."
      textButton="Cotizar"
      href="#"
    <Button />
    />
</section>