---
interface Props {
  title: string;
  slogan: string;
}

const { title, slogan } = Astro.props as Props;
---

<div class:list={[
  "relative",
  "place-items-center",
  "text-center",
  "h-140",
  "grid",
  "bg-gradient-to-br",
  "from-green-950",
  "via-green-800",
  "to-green-600",
  "backdrop-brightness-75"
]}>

  <!-- Contenido -->
  <div class="relative z-10 grid grid-cols-1 md:grid-cols-2 items-center max-w-6xl w-full gap-8">
    
    <!-- Logo -->
    <img src="/public/logo.png" alt="Logo" class="w-48 h-48 md:w-64 md:h-64 mx-auto md:ml-12 drop-shadow-xl" />

    <!-- Texto -->
    <div>
      <h1 class="text-5xl md:text-7xl font-extrabold text-white leading-tight drop-shadow-md">
        {title}
      </h1>
      <p class="text-2xl md:text-3xl text-white/90 mt-4">{slogan}</p>
      <p class="text-lg text-white/80 mt-2">We clean and repair battery systems holaaa</p>
    </div>

  </div>
</div>
