---
interface Props {
  h1Title: string;
  h2Title: string;
  slogan: string
}

const { h1Title, h2Title, slogan } = Astro.props as Props;
---

<div class:list={[
  "relative",
  "place-items-center",
  "text-center",
  "h-140",
  "grid",
  "bg-gradient-to-br",
  "from-green-950",
  "via-green-800",
  "to-green-600",
  "backdrop-brightness-75"
]}>

  <!-- Contenido -->
  <div class="relative grid grid-cols-2 items-center max-w-6xl w-full gap-2">
    
    <!-- Logo -->
    <img src="/logo.png" alt="Logo" class="w-96 h-96 mx-auto md:ml-12" />
    <!-- Texto -->
    <div>
      <h1 class="text-5xl md:text-9xl font-extrabold text-white leading-tight drop-shadow-md">
        {h1Title}
      </h1>
      <h2 class="lg:text-3xl md:text-3xl text-white/90 mt-6">{h2Title}</h2>
      <p class="text-lg text-white/80 mt-2">{slogan}</p>
    </div>

  </div>
</div>
