---
interface Props{
    h2Title: string;
    srcImage: string;
    description: string;
    textButton: string;
    href: string;
    class?: string;
    isGhost?: boolean;
}

const { h2Title, srcImage, description, class:className = "" } = Astro.props as Props
---

<article class="relative">
  <img class="h-screen w-full object-center" src={srcImage} alt="Imagen de batería" />

  <div class:list={["absolute inset-0 flex flex-col justify-center text-white text-left px-24", "w-[70%]", "bottom-14"]}>
    <h2 class="text-5xl font-bold mb-4">{h2Title}</h2>
    <h3 class:list={["text-xl", "ml-1"]}>{description}</h3>
  </div>
</article>


